.title{
    background: linear-gradient( to left, rgb(104, 61, 18),#ff7300);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
    margin: 15px 0px 15px 0px;
}
.reserva{
    padding: 20px;
    margin-bottom: 10px;
    background: #DAE6F2;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #572f0b;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .2), 0 0 30px rgba(0, 0, 0, .2), 0 0 30px rgba(0, 0, 0, .2);
}


.reserva img{
    height: 100px;
    border-left: 5px  solid #ff7800;
    border-bottom: 1px solid #ff7800;
    border-top: 2px solid #ff7800;
    border-collapse:collapse;
    box-shadow: 0 0 3px #ff7800, 0 0 5px #ff7800, 0 0 5px #ff7800, 0 0 5px #ff7800;
     border-radius: 7px;
}
.reserva button{
    border: 0;
    background: transparent;
    color: #572f0b;
    margin: 0px 5px 0px 5px;
}
footer button{
    margin-top: 10px;
    color: #572f0b;
    border-top: 2px solid rgb(238, 188, 113);
    border-left:2px solid #f09647 ;
    border-right:2px solid #e29f65 ;
     border-bottom:2px solid #ff7800  ;
    background:transparent ;
    border-radius: 7px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2), 0 0 5px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .2);
}
footer button:hover{
    background: linear-gradient( to right, rgb(238, 222, 204), #e29f65,#ff7800);
    border: 0;
   
}
.qntd{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.qntd input{
    display:flex ;
    text-align: center;
    border-top: 1px solid #4cb3df;
    border-left:1px solid #948FC5 ;
    border-right:1px solid #913C73 ;
     border-bottom:1px solid #8c285c ;
    background:transparent ; 
    border-radius: 5px;
    width: 45px;
    padding: 3.4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 0 7px rgba(0, 0, 0, .1), 0 0 7px rgba(0, 0, 0, .1);
    color: #572f0b;
}
.qntd button{
    margin:  0px 14px 0px 14px;
}
